@tailwind base;
@tailwind components;
@tailwind utilities;





:root {
  --backgroundmain: #e9ecef;
  --colorlabel:dark;
}

.dark {
  --backgroundmain: #111827;
  --colorlabel:white;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --backgroundmain: #111827;

  }
} */

body {

  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



